* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Giants-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
html {
  font-family: "Giants-Bold";
}

h1 {
  color: black;
}

p {
  color: darkgray;
}
.p2 {
  color: darkblue;
}

#reason {
  color: brown;
}
li {
  list-style-type: none;
}

#reason::before {
  content: "ONLY";
  font-size: 37px;
  color: orangered;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#first {
  box-sizing: border-box;
  height: 100vh;
  background-color: #f2eed7;
}

#header {
  height: 80px;
}
#logo {
  display: block;
  width: 80px;
  height: 80px;
  background-image: url("https://i.pinimg.com/564x/d0/e6/33/d0e633b592cf3ff5813eed6c40ca6373.jpg");
  background-size: cover;
  float: left;
}
.gnb {
  float: right;
}
.gnb ul li {
  float: left;
  margin-right: 30px;
  line-height: 80px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}