*{
    margin: 20;
}

@font-face {
    font-family: 'Giants-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
html{
    font-family:'Giants-Bold' ;
}

h1 {
    color: black;
}

p{
    color: darkgray;
}
.p2{
    color: darkblue;
}

#reason{
    color: brown;
}

#reason::before{
    content: "ONLY";
    font-size: 37px;
    color: orangered;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
#first{
    box-sizing : border-box
    height: 100vh;
}
/* #first{
    background-color: #F2EED7;
} */
